---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
      <span class="post-date-item">
        <svg style="margin-bottom: -2.5px" class="i-edit" viewBox="0 0 32 32" width="16" height="16" fill="none"
          stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
          <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z"></path>
        </svg>
        Published: {{ post.date | date: "%B %d, %Y" }}
      </span>


      <span class="post-date-item" style="float:right; margin:auto">
        <svg style="margin-bottom: -1.4px;" class="i-clock" viewBox="0 0 32 32" width="16" height="16" fill="none"
          stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
          <circle cx="16" cy="16" r="14"></circle>
          <path d="M16 8 L16 16 20 20"></path>
        </svg>
        {% assign words = post.content | number_of_words %}
        {% if words < 100 %} {{ words }} words {% else %} {{ words | divided_by: 100 }} min read {% endif %} </span>
      </span>


      {{ post.content | strip_html | truncatewords: 50 }}
      <a href="{{ post.url | absolute_url }}">Continue reading</a>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>